.my-container {
    width: 900px;
    margin: 0 auto;
}
.bg-header {
    background-color: $color-header;
}
.bg_dark {
    background-color: $color-bg-dark;
}
.bg_light {
    background-color: $color-bg-light;
}
.text_primary {
    color: $color-primary;
}
.subtitle {
    font-size: 14.5px;
    font-weight: 600;
    color: $color-secondary;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    font-size: 40px;
    font-weight: 960;
    font-family: Poppins, sans-serif;
    line-height: 80px;
}
.main-title {
    font-size: 60px;
}
.title-bg {
    background-color: $color-primary-opaque;
    padding: 0 14px;
    margin-right: 7px;
    border-radius: 5px;
}
p {
    color: $p-text-color;
    font-weight: 500;
}
