.my-container {
    width: 930px;
    margin: 0 auto;
}
.bg-header {
    background-color: $color-header;
}
.text_primary {
    color: $color-primary;
}
.subtitle {
    font-size: 14.5px;
    font-weight: 600;
    color: $color-secondary;
}
.title {
    font-size: 65px;
    font-weight: 900;
    font-family: Poppins, sans-serif;
    line-height: 80px;
}
