.my-container,
.my-container-fluid,
.my-container-xxl,
.my-container-xl,
.my-container-lg,
.my-container-md,
.my-container-sm {
width: 100%;
padding-left: var(--bs-gutter-x, 0.75rem);
padding-right: var(--bs-gutter-x, 0.75rem);
margin-left: auto;
margin-right: auto;
}

@media (min-width: 576px) {
.my-container-sm, .my-container {
    max-width: 550px;
}
}
@media (min-width: 768px) {
.my-container-md, .my-container-sm, .my-container {
    max-width: 700px;
}
}
@media (min-width: 992px) {
.my-container-lg, .my-container-md, .my-container-sm, .my-container {
    max-width: 900px;
}
}
@media (min-width: 1200px) {
.my-container-xl, .my-container-lg, .my-container-md, .my-container-sm, .my-container {
    max-width: 950px;
}
}
@media (min-width: 1400px) {
.my-container-xxl, .my-container-xl, .my-container-lg, .my-container-md, .my-container-sm, .my-container {
    max-width: 1000px;
}
}
.bg-header {
    background-color: $color-header;
}
.bg_dark {
    background-color: $color-bg-dark;
}
.bg_light {
    background-color: $color-bg-light;
}
.bg_primary {
    background-color: $color-primary;
}
.text_primary {
    color: $color-primary;
}
.subtitle {
    font-size: 14.5px;
    font-weight: 700;
    color: $color-secondary;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title {
    font-size: 40px;
    font-weight: 960;
    font-family: Poppins, sans-serif;
    line-height: 80px;
}
.main-title {
    font-size: 60px;
}
.title-bg {
    background-color: $color-primary-opaque;
    padding: 0 14px;
    margin-right: 7px;
    border-radius: 5px;
}
p {
    color: $p-text-color;
    font-weight: 400;
}
.board {
    background-color: $color-primary-opaque;
    width: 35px;
    aspect-ratio: 1/1;
    line-height: 35px;
    border-radius: 50%;
    font-weight: bold;
    color: $color-primary;
}
