$color-primary: #048383;
$color-secondary: #45bbbc;
$color-secondary-light: lighten($color-secondary,33);
$btn-nex-bg: linear-gradient(to right, $color-secondary-light 50%, transparent 50%);
$color-header: #21333E;